.container {
  position: relative;
  margin-top: 350px;
  padding: 20px;
}

.question {
  background-color: #ffffff;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.25);
}

.question-part {
  display: flex;
}

label,
input,
select {
  font-size: x-large;
}

input,
select {
  text-align: center;
}

p {
  margin-left: 10px;
  font-size: x-large;
}

.sort-btn {
  position: absolute;
  right: 20px;
  top: -50px;
  background-color: #00acc8;
}

button {
  border-radius: 10px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: x-large;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  background-color: #ea4c89;
}

.edit-btn {
  background-color: #ea4c89;
}

.edit-btn:hover {
  background-color: #f082ac;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.save-btn {
  background-color: #2ea44f;
}

.save-btn:hover {
  background-color: #2c974b;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.sort-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

input {
  margin-left: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  width: 600px;
  background: #f8f8f8;
  border-style: none;
}

select {
  margin-left: 10px;
  border-radius: 5px;
  width: 200px;
  background: #f8f8f8;
  border-style: none;
}
